.clearfix:before,
.clearfix:after {
	content: "";
	display: table
}

.clearfix:after {
	clear: both
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font: inherit;*/
	font-size: 100%;
	vertical-align: baseline;
}

em,i {
	font-style: normal;
}

strong,b {
	font-weight: normal;
}

html,
body {
	height: 100%;
}

html {
	font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
	/*设置1em 等于 10px*/
}

img {
	max-width: 100%;
	vertical-align: top;
}

input {
	-webkit-appearance: none;
}

.zt {
	font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	font-size: 1.6em;
	color: #221815;
	background-color: #fff;
	font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

.ft_fam {
	font-family: arial;
}

ul,
li {
	list-style: none;
}

u {
	text-decoration: none;
}

a {
	color: #333;
	font-family: "Microsoft YaHei";
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
	color: #999;
}

.bg_555 {
	background: #555;
}

.bg_fff {
	background: #fff !important;
}

.bg_f9 {
	background: #f9f9f9!important;
}

.video-bg-000 {
	background: #000!important;
	max-height: 300px;
	height: auto;
}

.b_b_1px {
	border-bottom: 1px solid #eeeeee;
}

.wl {
	width: 100%;
	float: left;
}

.wd {
	width: 100%;
	display: block;
}

.w100 {
	width: 100% !important;
}

.w90_90 {
	width: 90% !important;
}

.w90 {
	width: 94% !important;
	margin-left: 3%;
}

.w80 {
	width: 77% !important;
}

.w70 {
	width: 69% !important;
}

.max_w90 {
	max-width: 90% !important;
}

.max_150px {
	max-width: 150px !important;
}

.w60 {
	width: 60% !important;
}

.w50 {
	width: 50% !important;
}

.w40 {
	width: 40% !important;
}

.w30 {
	width: 30% !important;
}

.w20 {
	width: 20% !important;
}

.height_100 {
	height: 100% !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.rgiht {
	float: right;
}

.b_nor {
	font-weight: normal;
}

.top_big {
	position: fixed;
	top: 0;
	left: 0;
	height: 86px;
	display: block;
	z-index: 99999;
	max-width: 750px;
	min-width: 320px;
	overflow: hidden;
}

@media screen and (min-width: 750px) {
	.top_big {
		left: 50%;
		margin-left: -375px;
	}
}

.top {
	height: 48px;
	line-height: 48px;
	overflow: hidden;
	background: #dca708;
	min-width: 300px;
}

.m_t_88 {
	margin-top: 88px !important;
}

.top_left i {
	font-size: 36px;
	color: #fff;
	margin-left: 10px;
	line-height: 39px;
	margin-right: 10px;
	float: left;
	margin-top: 4px;
}

.top_logo {
	padding-left: 8px;
}

.top_logo img {
	height: auto;
	margin-top: 6px;
}

.top_right i {
	font-size: 26px;
	color: #fff;
	line-height: 43px;
	margin-right: 10px;
	margin-top: 3px;
	float: right;
}

.top_menu {
	height: 36px;
	line-height: 36px;
	background: #f4f5f6;
	position: relative;
}

.top_menu_a {
	overflow: hidden;
	height: 36px;
}

.top_menu_a a {
	margin: 0 3px 0 3px;
	font-size: 16px;
}

.top_menu_a a.active {
	color: #dca708;
}

.top_menu_more {
	position: absolute;
	/* color: #f8f8f8; */
	height: 38px;
	line-height: 38px;
	background: #f8f8f8;
	display: block;
	padding: 0 14px 0 8px;
	right: 0;
	z-index: 99;
}

.top_menu_more a i {
	color: #dca708;
	line-height: 38px;
}

.t-more {
	position: fixed;
	top: 0;
	right: 0;
}

.m_t_b_10px {
	margin: 10px auto;
}

.m_t_b_20px {
	margin: 20px auto;
}

.m_t_b_30px {
	margin: 30px auto;
}

.m_t_10px {
	margin-top: 10px !important;
}

.m_t_15px {
	margin-top: 15px !important;
}

.m_t_20px {
	margin-top: 20px !important;
}

.m_t_40px {
	margin-top: 40px !important;
}

.m_t_45px {
	margin-top: 45px !important;
}

.m_t_60px {
	margin-top: 60px !important;
}

.m_b_10px {
	margin-bottom: 10px!important;
}

.m_b_15px {
	margin-bottom: 15px!important;
}

.m_b_20px {
	margin-bottom: 20px!important;
}

.m_b_40px {
	margin-bottom: 40px!important;
}

.m_r_10px {
	margin-right: 10px!important;
}

.m_r_20px {
	margin-right: 20px!important;
}

.m_r_30px {
	margin-right: 30px!important;
}

.m_r_5px {
	margin-right: 5px;
}

.m_r_40px {
	margin-right: 40px;
}

.m_r_23px {
	margin-right: 23px;
}

.m_l_20px {
	margin-left: 20px;
}

.m_l_10px {
	margin-left: 10px;
}

.m_l_5px {
	margin-left: 5px;
}

.m_r_4px {
	margin-right: 4px;
}

.mato {
	margin: 0 auto;
}

.m_0 {
	margin: 0 !important;
}

.ft_10 {
	-webkit-transform: scale(0.8);
	-o-transform: scale(1);
	display: inline-block;
	font-size: 10px;
}

.ft_12 {
	font-size: 12px !important;
}

.ft_14 {
	font-size: 14px !important;
}

.ft_20 {
	font-size: 20px !important;
}

.ft_24 {
	font-size: 24px !important;
}

.ft_34 {
	font-size: 34px !important;
}

.ft_38 {
	font-size: 38px !important;
}

.ft_18 {
	font-size: 18px !important;
}

.font-size_11px {
	-webkit-transform: scale(0.8);
	-o-transform: scale(1);
	display: inline-block;
	font-size: 11px;
}

.font-size_18px {
	font-size: 18px !important;
}

.font-size_16px {
	font-size: 16px !important;
}

.font-size_12px {
	font-size: 12px !important;
}

.font-size_14px {
	font-size: 14px !important;
}

.p_b_59px {
	padding-bottom: 59px !important;
}

.p_b_30px {
	padding-bottom: 30px !important;
}

.p_b_20px {
	padding-bottom: 20px !important;
}

.p_t_10 {
	padding-top: 10px !important;
	;
}

.p_t_20 {
	padding-top: 20px !important;
}

.p_t_b_20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.p_t_40px {
	padding-top: 40px !important;
}

.p_t_50px {
	padding-top: 50px !important;
}

.p_t_60px {
	padding-top: 60px !important;
}

.p_t_70px {
	padding-top: 70px !important;
}

.p_b_0px {
	padding-bottom: 0px !important;
}

.p_l_20px {
	padding-left: 20px;
}

.p_l_10px {
	padding-left: 10px;
}

.p_l_3px {
	padding-left: 3px;
}

.p_l_5px {
	padding-left: 5px;
}

.padding_0 {
	padding: 0 !important;
	width: 100%;
}

.min_w_0 {
	min-width: 0px !important;
}

.m_b_59px {
	margin-bottom: 59px !important;
}

.m_t_50px {
	margin-top: 50px !important;
}

.m_t_60px {
	margin-top: 60px !important;
}

.p_0 {
	padding: 0 !important;
	width: 100%;
}

.p_l_r_0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.p_l_r_0 li {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.p_10 {
	padding: 10px;
}

.box_59px {
	width: 100%;
	height: 59px;
	display: block;
}

.box_20px {
	width: 100%;
	height: 20px;
	display: block;
}

.p_b_88 {
	padding-bottom: 88px;
}

.p_b_list_78 {
	padding-bottom: 78px;
}

.p_b_26 {
	padding-bottom: 26px;
}

.p_t_b20 {
	padding-bottom: 20px;
	padding-top: 20px;
}

.font_nor {
	font-weight: normal;
	font-style: normal;
}

.height_200 {
	height: 200px !important;
}

.height_300 {
	height: 300px !important;
}

.border_bottom_none {
	border-bottom: none !important;
}

.border_none {
	border: 0 !important;
}

.border_top_1px {
	border-top: 1px solid #eeeeee;
}

.border_b_1px {
	border-bottom: 1px solid #eeeeee !important;
}

.cl_999 {
	color: #999;
	padding: 0 5px;
}

.color_333 {
	color: #333
}

.color_666 {
	color: #666 !important;
}

.color_999 {
	color: #999 !important;
}

.color_b7b7b7 {
	color: #b7b7b7
}

.color_red {
	color: #e1280a !important;
}

.color_yell {
	color: #dca708 !important;
}

.color_yell_02 {
	color: #ffce00 !important;
}

.color_blue {
	color: #12b7f5 !important;
}

.color_jhs {
	color: #ff7e00 !important;
}

.color_zs {
	color: #d200ff !important;
}

.color_gre {
	color: #00b132!important;
}

.w640 {
	min-width: 320px !important;
	margin: 0 auto;
	overflow: hidden;
	max-width: 750px;
}

.text_list {
	float: left;
	padding: 10px 0;
	width: 100%;
	font-size: 14px;
	word-spacing: 4px;
	letter-spacing: 1px;
	line-height: 24px;
}

.text_center {
	text-align: center;
}

.text_zc {
	line-height: 21px;
}

.img_center img {
	max-width: 100%;
	height: auto;
}

.line-hei0 {
	line-height: 0px !important;
}

.line-hei36 {
	line-height: 36px !important;
}

.line-hei35 {
	line-height: 35px !important;
}

.line-hei28 {
	line-height: 28px !important;
}

.line-hei46 {
	line-height: 46px !important;
	height: 46px !important;
}

.line-hei40 {
	line-height: 40px !important;
}

.line-hei48 {
	line-height: 48px !important;
}

.line-hei57 {
	line-height: 57px !important;
}

.top_8 {
	top: -8px;
}

.redian {
	border-radius: 50%;
	background: #e20000;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}

.redian_20 {
	border-radius: 50%;
	background: #e20000;
	width: 20px;
	height: 20px;
	line-height: 20px !important;
	text-align: center;
	color: #fff;
}

.redian_num {
	min-width: 20px;
	text-align: center;
	font-size: 12px;
}

.max_hei_auto {
	max-height: auto !important;
}

.max_hei img {
	max-height: 370px !important;
}

.ind_slt_wh {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.btn_xiao {
	padding: 0 20px;
	background: #eee;
	color: #333;
	display: inline-block;
	line-height: 36px;
	border-radius: 8px;
}

.city-width {
	width: 90px;
}

.city-width02 {
	width: 95px;
}

.btn_xiao:hover {
	color: #fff !important;
}

.bg_yell02 {
	background: #dca708;
}

.bg_red02 {
	background: #ec0000;
}

.bg_blue02 {
	background: #0274cc;
}

.bg_gre {
	background: #1fb35f;
}

.corlor_sy_v {
	border-radius: 50%;
	border: 1px solid #fff;
	width: 16px;
	height: 16px;
	margin: 0 3px;
	float: left;
	position: absolute;
	right: 0;
	bottom: 0;
}

.corlor_sy_v i {
	color: #fff !important;
	-webkit-transform: scale(0.8);
	-o-transform: scale(1);
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	top: 0px;
	right: 1.5px;
}

.corlor_sy_v02 {
	border-radius: 50%;
	border: 1px solid #fff;
	width: 14px;
	height: 14px;
	margin: 0 3px;
	float: left;
	position: absolute;
	right: 5px;
	bottom: -3px;
}

.corlor_sy_v02 i {
	color: #fff !important;
	-webkit-transform: scale(0.8);
	-o-transform: scale(1);
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	top: 1px;
	right: 2px !important;
	width: 10px;
	height: 8px;
}


/*.bg_blue {
	background: #fff;
	width: 16px;
	height: 15px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-radius: 50%;
}

.bg_blue i {
	color: #0091dc !important;
	margin: 0 3px;
	width: 15px;
	height: 15px;
	float: left;
	position: absolute;
	right: 0px;
	bottom: 1px;
	font-size: 21px !important;
	font-weight: normal;
}

.bg_red {
	background: #fff;
	width: 16px;
	height: 15px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-radius: 50%;
}

.bg_red i {
	color: #ec0000 !important;
	margin: 0 3px;
	width: 15px;
	height: 15px;
	float: left;
	position: absolute;
	right: 0px;
	bottom: 1px;
	font-size: 21px !important;
	font-weight: normal;
}

.bg_yell {
	background: #fff;
	width: 16px;
	height: 15px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-radius: 50%;
}

.bg_yell i {
	color: #dca708 !important;
	margin: 0 3px;
	width: 15px;
	height: 15px;
	float: left;
	position: absolute;
	right: 0px;
	bottom: 1px;
	font-size: 21px !important;
	font-weight: normal;
}*/

.v-02 {
	right: 0px;
	bottom: 0px;
	width: 16px;
	height: 17px;
}

.v-02 i {
	right: -1px;
	bottom: 2px;
	font-size: 19px !important;
}

.corlor_sy_v03 {
	border-radius: 50%;
	border: 1px solid #fff;
	width: 16px;
	height: 16px;
	margin: 0 3px;
	float: left;
	position: absolute;
	right: 0;
	bottom: 0;
}

.corlor_sy_v03 i {
	color: #fff !important;
	-webkit-transform: scale(0.8);
	-o-transform: scale(1);
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	top: -3.0px;
	right: 1px;
}

.dis_none {
	display: none !important;
}

.dis_block {
	display: block !important;
}

#content {
	line-height: 28px;
}

.kg-59 {
	width: 100%;
	float: left;
	height: 59px;
}

.kg-69 {
	width: 100%;
	float: left;
	height: 69px;
}

.kg-79 {
	width: 100%;
	float: left;
	height: 79px;
}

.kg-89 {
	width: 100%;
	float: left;
	height: 89px;
}


/*动画效果定义开始*/

@keyframes floating {
	0% {
		transform: translate(0, 0)
	}
	25% {
		transform: translate(0, 3px)
	}
	50% {
		transform: translate(0, 0)
	}
	75% {
		transform: translate(0, -3px)
	}
	100% {
		transform: translate(0, 0)
	}
}

@keyframes floating-right-cloud {
	0% {
		transform: translate(0, 0)
	}
	25% {
		transform: translate(0, 5px)
	}
	50% {
		transform: translate(0, 0)
	}
	75% {
		transform: translate(0, -4px)
	}
	100% {
		transform: translate(0, 0)
	}
}

@keyframes floating2 {
	0% {
		transform: translate(0, 0)
	}
	25% {
		transform: translate(0, -3px)
	}
	50% {
		transform: translate(0, 0)
	}
	75% {
		transform: translate(0, 3px)
	}
	100% {
		transform: translate(0, 0)
	}
}

.dh {
	animation: floating 1s infinite linear;
}


/*动画效果定义结束*/


/*底部首页*/

.footer_ind {
	height: 60px;
	background: #fff;
	position: fixed;
	max-width: 750px;
	bottom: 0;
	z-index: 100;
	text-align: center;
	min-width: 320px;
}

@media screen and (min-width: 750px) {
	.footer_ind {
		left: 50%;
		margin-left: -375px;
	}
}

.footer_ind ul {
	padding: 7px 8px 0 8px;
	height: 60px;
	border-top: 1px solid #eeeeee;
}

.footer_ind li {
	float: left;
	width: 25%;
	color: #333;
	display: block;
}

.footer_ind li i {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 26px;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
}

.footer_ind li span {
	width: 100%;
	display: block;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
}

.footer_ind li.active i,
.footer_ind li.active span {
	color: #dca708;
}

.footer_ind li:hover {
	color: #dca708;
}

.foot_logo {
	background: url(../images/logo_hs.png) no-repeat bottom center;
	background-size: 38px auto;
}

.foot_logo_cs {
	background: url(../images/logo.png) no-repeat bottom center;
	background-size: 38px auto;
}


/*新闻详细页面*/

.main {
	min-width: 320px !important;
	padding: 0 8px;
	max-width: 750px !important;
	margin: 0 auto;
}

.main02 {
	min-width: 320px;
	max-width: 750px;
	margin: 0 auto;
}

.main03 {
	width: 750px;
	margin: 0 auto;
}

@media only screen and (max-width:750px) {
	.main03 {
		width: auto;
		min-width: 320px !important;
		padding: 0 8px;
		max-width: 750px !important;
		margin: 0 auto;
	}
}

.main_tit {
	padding: 18px 0 12px 0;
	line-height: 21px;
}

.m-t-music {
	padding: 3px 0 12px 0;
	line-height: 21px;
	font-size: 18px;
}

.main_tit_tips {
	line-height: 32px;
	font-size: 16px;
	text-align: center;
	float: left;
	;
	color: #dca708;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	display: block;
	width: 100%;
	font-weight: normal;
	padding: 15px 0;
	background: #fff;
	;
}

.main_tit_tips h3 {
	margin-top: 10px;
}

.main_tit_tips span {
	width: 100%;
	float: left;
	line-height: 28px;
	font-weight: normal;
}

.Avatar {
	height: 50px;
	margin-bottom: 10px;
}

.name_tx {
	margin-top: 0px;
	margin-right: 8px;
	position: relative;
	float: left;
	height: 40px;
}

.name_tx img {
	width: 40px !important;
	height: 40px !important;
	border-radius: 50%;
}

.name_tx_30 {
	margin-top: 0px;
	margin-right: 8px;
	position: relative;
}

.name_tx_30 img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.tx u {
	width: 30px;
	float: left;
	height: 30px;
}

.tx .Certification {
	height: 30px;
	right: -12px;
	float: left;
}

.v-view {}

.tx .Certification b i {
	text-align: center;
	line-height: 16px;
	-webkit-transform: scale(0.8);
	-o-transform: scale(1);
	display: inline-block;
	font-size: 10px;
}

.tx .Certification .corlor_sy_v {
	width: 14px;
	height: 14px;
}

.name_fs {
	max-width: 134px;
	line-height: 18px;
	overflow: hidden;
}

.name_fs span {
	width: 100%;
	display: block;
	float: left;
	overflow: hidden;
	height: 20px;
	line-height: 24px;
	color: #406599;
}

.name_fs u {
	width: 100%;
	text-decoration: none;
	line-height: 16px;
	color: #999;
	font-size: 12px;
	float: left;
	margin-top: 5px;
}

.name_fs u i {
	font-style: normal;
	-webkit-transform: scale(0.8);
	-o-transform: scale(1);
	display: inline-block;
	font-size: 11px;
	border: 1px solid #eeeeee;
	border-radius: 6px;
	padding: 0px 2px;
	margin-right: 3px;
	float: left;
	color: #666;
}

.Certification {
	position: absolute;
	z-index: 999;
	height: 40px;
	width: 40px;
	top: 0;
	right: -2px;
}

.Certification i {
	color: #fff;
	position: absolute;
	/*right: 1.5px; top: -2px;*/
	-webkit-transform: scale(0.8);
	-o-transform: scale(1);
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
}

.att_y {
	padding: 0 15px;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	text-align: center;
	color: #999;
}

.att_y i {
	height: 16px;
	padding-top: 2px;
	float: left;
	padding-right: 2px;
}

.attention {
	padding: 0 15px;
	height: 32px;
	line-height: 32px;
	background: #dca708;
	color: #fff;
	border-radius: 8px;
	font-size: 15px;
	text-align: center;
}

.attention input {
	line-height: 32px;
}

.attention a {
	color: #fff;
}

.attention a:hover {
	color: #fff;
}

.attention_hs {
	padding: 0 15px;
	height: 32px;
	line-height: 32px;
	background: #fff;
	color: #333;
	border-radius: 8px;
	font-size: 15px;
	border: 1px solid #eeeeee;
	text-align: center;
}

.attention_03 {
	background: #fff;
	border: 1px solid #eeeeee;
	padding: 0 25px;
	height: 34px;
	line-height: 34px;
	border-radius: 20px;
	margin-right: 15px;
	font-size: 14px;
}

.but_red {
	background: #dd2727;
	color: #fff;
	line-height: 32px;
	height: 32px;
	padding: 0 10px;
}
.but_yel {
	background: #ff6c00;
	color: #fff;
	padding: 2px 10px;
	border-radius: 10px;
}
.but_red02 {
	background: #dd2727;
	color: #fff;
	line-height: 32px;
	height: 32px;
	padding: 0 20px;
	border-radius: 6px;
}

.but_red02 a {
	color: #fff;
}

.but_50 {
	margin-right: 5%;
	border-radius: 10px;
	text-align: center;
	float: left;
}

.but_hs {
	padding: 0 20px;
	height: 31px;
	line-height: 31px;
	background: #f9f9f9;
	color: #333;
	border-radius: 8px;
	font-size: 15px;
	text-align: center;
}

.but_active {
	background: #dd2727 !important;
	color: #fff;
}

.Remarks {
	background: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 6px;
	margin: 10px 0;
	width: 100%;
}

.Remarks span {
	padding: 5px 10px;
	float: left;
}

.Auditor {
	padding-left: 12px;
	width: 100%;
	display: block;
}

.support_bg {
	background: #efefef;
	margin: 10px 0 0 0;
	padding: 0 0 10px 0;
}

.support {
	padding: 10px 10px 0 10px;
}

.support_top {
	width: 100%;
	display: block;
	border-bottom: 1px solid #fff;
	height: 60px;
	line-height: 60px;
}

.support_top span {
	font-size: 14px;
	margin: 0 10px 0 0;
	max-width: 112px;
	overflow: hidden;
	float: left;
	height: 60px;
}

.support_top i {
	font-style: normal;
	font-size: 14px;
}

.support_bottom {
	width: 100%;
	display: block;
	margin-top: 14px;
}

.support_bottom li {
	float: left;
	margin-right: 10px;
	height: 23px;
	line-height: 23px;
	margin-bottom: 10px;
	font-size: 14px;
}

.support_bottom li i {
	margin-right: 5px;
	float: left;
	color: #999;
}

.support_bottom li i.active {
	color: #f85e38;
}

.support_bottom li span {
	font-size: 14px;
}

.attention_02 {
	height: 31px;
	line-height: 31px;
	background: #dca708;
	color: #fff;
	border-radius: 8px;
	font-size: 15px;
	text-align: center;
	margin: 10px 0 10px 0;
	float: right;
}

.attention_02 a {
	color: #fff;
	width: 100%;
	display: block;
	padding: 0 10px;
}

.w100_h0 {
	width: 100%;
	height: 0 !important;
	margin: 0 !important;
}

.Keyword {
	margin: 10px 0 0 0;
}

.Keyword li {
	padding: 5px 10px;
	background: #efefef;
	border: 1px solid #eeeeee;
	text-align: center;
	float: left;
	font-size: 13px;
	margin: 0 10px 10px 0;
	border-radius: 6px;
}

.foyue_toppic {
	text-align: center;
	max-width: 750px;
	margin: 0 auto 0 auto;
	height: 140px;
}

.foyue_toppic img {
	width: 100%;
}

.fy_audio_big {}

.fy_audio {}

.news_banner {
	text-align: center;
	position: relative;
	max-width: 750px;
	margin: 10px auto;
	float: left;
}

.news_banner img {
	max-width: 100%;
}

.news_banner span {
	position: absolute;
	background: url(../images/bg/hh_bg.png) repeat;
	color: #fff;
	padding: 2px 5px;
	border-radius: 4px;
	bottom: 10px;
	right: 10px;
}

.news_banner b {
	font-weight: normal;
	position: absolute;
	border-radius: 4px;
	top: 10px;
	right: 10px;
	float: right;
	border: 1px solid #369dfe;
	background: #fff;
	color: #369dfe;
	text-align: center;
	padding: 1px 3px;
}

.news_banner i {
	font-style: normal;
	position: absolute;
	border-radius: 4px;
	top: 10px;
	right: 60px;
	float: right;
	border: 1px solid #369dfe;
	background: #fff;
	color: #369dfe;
	text-align: center;
	padding: 1px 3px;
}

.news_banner_02 {
	text-align: center;
	position: relative;
	max-width: 750px;
	margin: 0 auto;
}

.news_banner_02 img {
	max-width: 100%;
}

.news_banner_02_text {
	height: 32px;
	color: #999;
	line-height: 32px;
	text-align: left;
	font-size: 12px;
	padding-left: 5px;
}

.news_banner_02_text span {
	float: left;
	padding: 0 5px;
}

.news_banner_02_text b {
	font-weight: normal;
	float: left;
	padding-left: 5px;
	max-width: 130px;
	height: 32px;
	overflow: hidden;
}

.news_banner_02_text i {
	float: left;
	font-style: normal;
	border: 1px solid #0086ee;
	border-radius: 5px;
	height: 20px;
	line-height: 19px;
	padding: 0 4px;
	margin-top: 5px;
}

.news_tit {
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #bdbdbd;
}

.news_tit span {
	height: 44px;
	line-height: 44px;
	padding: 0 0 0 5px;
	border-bottom: 1px solid #dca708;
}

.list_news {
	/*min-height: 236px; */
	min-width: 300px;
}

.list_news li {
	overflow: hidden;
	border-bottom: 1px solid #eceef0;
	box-shadow: 0 1px 1px #fff;
	padding-bottom: 10px;
}

.comment {
	width: 100%;
}

.comment_top {
	margin-top: 15px;
}

.comment_top u {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	float: left;
}

.comment_top strong {
	font-weight: normal;
	margin-left: 4px;
	line-height: 24px;
}

.comment_top u img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.comment_top em {
	font-style: normal;
	float: left;
	max-width: 120px;
	overflow: hidden;
	font-size: 14px;
}

.comment_top em span {
	width: 100%;
	display: block;
	height: 20px;
	line-height: 20px;
	float: left;
	font-size: 16px;
}

.comment_top em b {
	width: 100%;
	color: #999;
	font-weight: normal;
	display: block;
	height: 18px;
	line-height: 18px;
	float: left;
	font-size: 12px;
}

.comment_top i {
	font-style: normal;
	color: #a7a7a7;
	float: right;
}

.comment_top .active i {
	color: #fb2a2a;
}

.comment_top p {
	max-width: 120px;
	overflow: hidden;
	float: left;
}

.comment_top p b {
	font-weight: normal;
	font-size: 12px;
	float: left;
	margin-bottom: 4px;
}

.comment_top p span {
	color: #333;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	float: left;
}

.comment_top a i span {
	margin-right: 10px;
	font-size: 12px;
	color: #999;
}

.comment_text {
	padding: 5px 0;
	margin-left: 42px;
	font-size: 14px;
}

.comment_text a {
	overflow: hidden;
	max-height: 107px;
	display: block;
}

.comment_text span a {
	display: block;
	font-size: 12px;
}

.comment_text b {
	margin-top: 5px;
	float: left;
	line-height: 26px;
	background: #f9f9f9;
	padding: 5px 3px;
}

.comment_text b em {
	background: #f30006;
	color: #fff;
	padding: 0 1px 0 6px;
	border-radius: 3px;
	line-height: 26px;
	float: left;
	margin-right: 4px;
}

.comment_Reply_bg {
	margin-left: 42px;
	background: #f5f5f5;
	min-width: 250px;
	width: 80%;
}

.comment_Reply {
	padding: 15px 10px;
	min-width: 250px;
	width: 100%;
}

.comment_text_Reply {
	font-size: 14px;
}

.comment_banner_tit {
	border-bottom: 1px dashed #eeeeee;
	line-height: 18px;
	height: 18px;
	text-align: center;
}

.comment_banner_tit span {
	padding: 0 10px;
	text-align: center;
	background: #fff;
	line-height: 34px;
	color: #999;
}

.m_b_none {
	margin-bottom: 0 !important;
}


/*底部评论*/

.comment_edit {
	height: 46px;
	background: #f2f2f2;
	border-top: 1px solid #eeeeee;
	position: fixed;
	bottom: 0;
	z-index: 99999;
	text-align: center;
	min-width: 320px;
	max-width: 750px;
	margin-left: -375px;
	left: 50%;
}

@media only screen and (max-width:750px) {
	.comment_edit {
		margin-left: 0px;
		left: 0%;
	}
}

.comment_edit_list {
	padding: 0 8px;
	width: 100%;
}

.comment_edit_left {
	width: 50%;
}

.comment_edit_left u {
	text-decoration: none;
	width: 100%;
	margin: 6px 0 0 0;
	float: left;
}

.comment_edit_left u input {
	width: 95%;
	float: left;
	border-radius: 20px;
	background: #fff;
	border: 1px solid #e3e3e3;
	height: 32px;
	padding-left: 15px;
}

.comment_edit_right {
	width: 45%;
	height: 46px;
}

.comment_edit_right ul {
	float: right;
	padding: 0;
	margin: 0;
	width: 100%;
}

.comment_edit_right a li {
	float: left;
	width: 33.333%;
	color: #333;
}

.comment_edit_right a li i {
	text-align: center;
	font-size: 26px;
	height: 46px;
	line-height: 46px;
	position: relative;
	font-weight: normal;
}

.comment_edit_right a li i span {
	font-weight: normal;
	font-size: 12px;
	color: #fff;
	position: absolute;
	z-index: 9999;
	left: 13px;
	top: -3px;
	background: #fb2a2a;
	height: 20px;
	line-height: 20px;
	padding: 0px 7px;
	border-radius: 10px;
	font-family: arial;
	letter-spacing: 1.5px;
}

.comment_edit_right a li.active {
	color: #dca708;
}

.comment_edit_right a li:hover {
	color: #dca708;
}

.top_tit {
	height: 44px;
	line-height: 44px;
	background: #fff;
	border-bottom: 1px solid #eeeeee;
	position: fixed;
	top: 0;
	z-index: 99999;
	max-width: 750px;
	min-width: 320px;
	margin-left: -375px;
	left: 50%;
}

@media only screen and (max-width:750px) {
	.top_tit {
		left: 0;
		margin-left: 0;
	}
}

.retun button {
	padding: 0;
	background: 0;
}

.retun {
	font-family: arial;
	margin-left: 10px;
	float: left;
	height: 44px;
	overflow: hidden;
}

.retun a {
	font-size: 30px;
	line-height: 42px;
}

.retun i {
	font-size: 24px !important;
	line-height: 29px;
	font-weight: bold;
	margin-top: 7px;
	float: left;
}

.retun button {
	border: 0;
}

.top_tit .text {
	margin: 0 auto;
	width: 180px;
}

.top_tit .text img {
	width: 20%;
	height: auto;
	margin-top: 9px;
	float: left;
	margin-right: 10px;
}

.top_tit .text span {
	float: left;
	line-height: 40px;
	font-size: 14px;
}

.top_tit .text_center {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.top_tit .fx {
	margin-right: 10px;
	position: absolute;
	top: 0;
	right: 4px;
}

.top_tit .select {
	margin-right: 5px;
	margin-left: 0;
	width: 50px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
}

.top_tit .select select {
	margin: 0;
	padding: 0 0 0 10px;
}

.top_tit .select option {
	padding: 5px 0;
}

.top_tit .fx button {
	border: 0;
	background: no-repeat;
	font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif;
	line-height: 44px;
	font-size: 14px;
}

.top_tit .fx input {
	border: 0;
	background: no-repeat;
	font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif;
	line-height: 44px;
	font-size: 14px;
	color: #333;
	text-align: right;
	margin: 0;
	padding: 0;
}

.fx i {
	color: #999;
	font-size: 20px;
	line-height: 44px;
}

.fx i a:active {
	text-decoration: none;
}

.top_tit .fs {
	margin-right: 10px;
	position: absolute;
	top: 0;
	right: 8px;
	line-height: 24px;
}

.wotx span {
	font-size: 12px;
	color: #999;
	line-height: 29px;
	float: left;
	padding-left: 10px;
}


/*发送文章样式*/

.fs_ej {
	color: #999;
	font-size: 14px;
	line-height: 20px;
}

.send-wz .tit {
	margin: 10px auto;
	width: 95%;
}

.send-wz .tit input {
	margin-bottom: 0 !important;
}

.send-wz .yinpin {
	line-height: 52px;
	background: #fff;
}

.send-wz .yinpin i {
	width: 54px;
	margin: 0 3px;
	height: 52px;
	overflow: hidden;
	float: left;
	color: #979797;
}

.send-wz .yinpin i span {
	font-size: 12px;
	line-height: 15px;
	float: left;
	font-family: "Microsoft YaHei";
	width: 16px;
	text-align: center;
	margin-top: 15px;
}

.send-wz .yinpin i b {
	font-weight: normal;
	float: left;
	font-size: 36px;
}

.send-wz .yinpin .sp {
	line-height: 59px;
}

.send-wz .fs {
	margin-top: 10px;
}

.send-wz .fs .text {
	min-height: 280px;
	max-width: 640px;
	width: 95%;
	padding: 5px;
}

.send-wz .slt span {
	float: left;
	width: 145px;
	height: 123px;
	text-align: center;
}

.send-wz .slt span img {
	width: 145px;
	height: 123px;
}

.b_1px {
	border: 1px solid #eeeeee;
}

.send-wz .slt_02 span {
	float: left;
	width: 263px;
	height: 123px;
	text-align: center;
}

.send-wz .slt_02 span img {
	width: 263px;
	height: 123px;
}

.send-wz .slt_02 b {
	font-weight: normal;
	float: left;
	line-height: 105px;
	font-size: 24px;
	margin-left: 13px;
}

.send-wz .slt b {
	font-weight: normal;
	float: left;
	line-height: 105px;
	font-size: 24px;
	margin-left: 15px;
}

.send-wz .slt_text {
	padding: 5px 0;
	color: #999;
}

.send-wz .wdfl {
	line-height: 36px;
	margin-bottom: 10px;
}

.send-wz .wdfl .sel {
	position: relative;
	margin-right: 15px;
	height: 36px;
}

.send-wz .wdfl .sel span {
	background: url(../images/icon_sjx_xx.png) no-repeat center right;
	width: 11px;
	height: 9px;
	display: block;
	right: 10px;
	position: absolute;
	top: 13px;
}

.send-wz .wdfl .sel select {
	border: 1px solid #eeeeee !important;
	height: 36px;
	line-height: 36px;
	padding: 0 25px 0 10px;
	max-width: 150px;
	min-width: 67px;
}

.send-wz .wdfl .sel option {
	text-align: center;
}

.p_l_14px {
	padding-left: 14px !important;
}

@media only screen and (max-width:350px) {
	.send-wz .wdfl .sel select {
		border: 1px solid #eeeeee !important;
		height: 36px;
		line-height: 36px;
		padding: 0 25px 0 6px;
		max-width: 150px;
		min-width: 58px;
	}
	.send-wz .wdfl .sel {
		margin-right: 10px;
	}
}

.sel {
	position: relative;
	margin-right: 15px;
	height: 36px;
}

.sel span {
	background: url(../images/icon_sjx_xx.png) no-repeat center right;
	width: 11px;
	height: 9px;
	display: block;
	right: 10px;
	position: absolute;
	top: 13px;
}

.sel select {
	border: 1px solid #eeeeee !important;
	height: 36px;
	line-height: 36px;
	padding: 0 25px 0 10px;
	max-width: 150px;
	min-width: 67px;
}

.sel option {
	text-align: center;
}

.sel02 {
	position: relative;
	margin-right: 15px;
	height: 36px;
}

.sel02 select {
	border: 1px solid #eeeeee !important;
	height: 36px;
	line-height: 36px;
	padding: 0 25px 0 10px;
}

.sel02 span {
	background: url(../images/icon_sjx_xx.png) no-repeat center right;
	width: 11px;
	height: 9px;
	display: block;
	right: 10px;
	position: absolute;
	top: 13px;
}

.send-wz .wdfl .jj i {
	line-height: 30px;
}

.send-wz .dxxz {}

.send-wz .dxxz li {
	float: left;
	line-height: 30px;
}

.border_1px {
	border: 1px solid #eeeeee !important;
	float: right !important;
	height: 30px !important;
	line-height: 30px !important;
	padding: 0 0 0 10px !important;
	margin: 0 0 0 10px!important;
	width: 100px!important;
}

.int-jf b input {
	margin-left: 1px;
}

.int-jf em input {
	padding-left: 10px;
	margin-left: 48px;
	width: 80px;
}

.border-top-1px {
	border-top: 1px dashed #eeeeee;
}

.send-wz .wdfl .bq {
	height: auto;
}

.send-wz .wdfl .bq input {
	float: left !important;
	margin: 0 10px 10px 0 !important;
}

.input_w180px {
	width: 180px !important;
}

.send_sh_big {
	position: relative;
}

.send_sh_big02 {
	height: 43px;
	line-height: 39px;
}

.send_sh {
	position: absolute;
	z-index: 5;
	bottom: 10px;
	right: 10px;
	/* padding-top: 4px; */
	padding: 6px;
}

.send_sh i {
	font-size: 30px;
	line-height: 48px;
}

.send_sh a {
	color: #fff;
}

.font-size_27px {
	font-size: 27px !important;
}

@media only screen and (max-width:380px) {
	.send_sh {
		top: 1s0px;
	}
}


/*佛乐发送后台*/

.max_w_300px {
	max-width: 300px !important;
}

.max_w_500px {
	max-width: 500px !important;
}

.foyue_maosu {
	padding: 10px;
	margin-left: 2px;
}

.foyue_line-height_69px {
	line-height: 69px;
}


/*视频*/

.banner_v {
	width: 100%;
	text-align: center;
	position: relative;
}

.banner_v .text {
	/*position: absolute;
	top: 10px;
	left: 5%;*/
	max-width: 90%;
	text-align: left;
	line-height: 36px;
	max-height: 43px;
	max-width: 100%;
	z-index: 2;
	background: #fff;
	overflow: hidden;
}

.img_max100_big {
	vertical-align: middle;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

.img_max100 {
	max-width: 100%;
	height: auto;
}

.img_max100_big img {
	width: 100%;
	height: auto;
}

.tt-video {
	width: 100%;
	height: auto;
	background-color: #000;
	max-height: 400px;
}

@media only screen and (max-width:750px) {
	.tt-video {
		max-height: 300px;
	}
}

@media only screen and (max-width:400px) {
	.tt-video {
		max-height: 240px;
	}
}

.vide0_view {
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
	z-index: 9999;
	position: fixed;
	top: 44px;
	left: 0;
}

.img_max100_big audio {
	max-width: 750px;
	background: #434343;
}

.more_jz {
	margin-top: 20px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	text-align: center;
}

.more_jz_text {
	width: 78px;
}

.more_jz span {
	background: url(../images/icon_xl.png) no-repeat;
	margin: 17px 0 0 10px;
	width: 11px;
	height: 6px;
	display: block;
	float: left;
}

.more_jz a {
	font-size: 12px;
}

.img_max100_video {
	position: relative;
	min-height: 100px;
	max-height: 300px;
	overflow: hidden;
}

.img_max100_video i {
	color: #fff;
	font-size: 44px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -22px;
	margin-top: -19.5px;
	width: 45px;
	height: 45px;
	line-height: 38px;
	z-index: 3;
	text-shadow: 1px 1px 1px #333;
}

.img_max100_video img {
	max-width: 100%;
	height: auto;
}

.img_max100_big_video {
	vertical-align: middle;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.img_max100_big_video .text {
	position: absolute;
	top: 10px;
	left: 5%;
	max-width: 90%;
	text-align: left;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	max-height: 43px;
	z-index: 2;
	line-height: 20px;
	overflow: hidden;
}

.video_text {
	height: 40px;
	line-height: 40px;
	min-width: 320px;
	padding-top: 9px;
}

.video_text img {
	float: left;
	margin-right: 5px;
	margin-left: 8px;
}

.video_text .tx {
	/*overflow: hidden;*/
	height: 30px;
}

.video_text .tx span {
	line-height: 29px;
	height: 40px;
	float: left;
	margin-left: 8px;
	max-width: 130px;
	overflow: hidden;
	font-size: 14px;
}

.video_text .tx i {
	color: #f85959;
	float: left;
	line-height: 29px;
}

.video_text .tx b {
	font-weight: normal;
	font-size: 12px;
	float: left;
}

.video_text .fx {
	width: 136px;
	overflow: hidden;
	float: right;
}

.video_text .fx i {
	line-height: 29px;
	font-size: 22px;
	float: left;
}

.video_text .fx span {
	font-size: 12px;
	color: #999;
	line-height: 29px;
	float: left;
}

.video_text .fx strong {
	font-size: 12px;
	color: #999;
	font-weight: normal;
	line-height: 29px;
	float: left;
	margin-right: 10px;
}


/*佛乐*/

.fy_tx {
	position: relative;
	text-align: center;
}

.fy_tx i {
	position: absolute;
	color: #fff;
	z-index: 99;
	font-size: 24px;
	line-height: 70px;
	left: 50%;
	margin-left: -12px;
	text-shadow: 1px 1px 1px #333;
}

.foyue_list_text {
	margin: 3px 0;
	padding-left: 5px;
	padding-right: 10px;
}

.foyue_list_text i {
	font-style: normal;
}

.foyue_video {
	position: relative;
}

.foyue_video i {
	color: #fff;
	font-size: 44px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -22px;
	margin-top: -19.5px;
	width: 45px;
	height: 45px;
	line-height: 38px !important;
	z-index: 3;
	text-shadow: 1px 1px 1px #333;
}

.foyue_video .text {
	position: absolute;
	top: 10px;
	left: 5%;
	width: 90%;
	text-align: left;
	color: #fff;
	height: 45px;
	max-width: 640px;
	z-index: 2;
	line-height: 22px;
	overflow: hidden;
}


/*打赏*/

.tips_fs {
	line-height: 18px;
	padding: 5px 0;
}

.tips_fs span {
	padding: 0 4px;
	color: #f85959;
}

.tips_fs_dxxz {}

.tips_fs_dxxz li {
	float: left;
	line-height: 30px;
	width: 50%;
}

.tips_fs_dxxz li label {
	line-height: 7px;
}

.tips_fs_dxxz input {
	line-height: 20px;
	top: 0;
}

.tips_fs_zf {
	border-bottom: 1px solid #eeeeee;
	padding: 0 0 10px 0;
}

.tips_fs_zf li {
	float: left;
	line-height: 33px;
	height: 36px;
	margin: 5px auto;
}

.tips_fs_zf label {
	line-height: 33px;
	padding-top: 0;
	padding-bottom: 0;
	height: 52px;
}

.tips_fs_zf label img {
	width: auto;
	height: 60%;
}

.tips_fs_zf input {
	line-height: 33px;
	top: 4px !important;
}

.tips_fs_zf label span {
	float: left;
	line-height: 33px;
	margin-right: 5px;
}

.aixin {
	padding: 20px 0 0 0;
}

.fangsheng {
	line-height: 21px;
	padding: 10px 10px;
	text-align: left;
}

.fangsheng a {}

.fangsheng .icon_fs {
	background: url(../images/icon_xl.png) no-repeat center right;
	text-align: left;
	color: #666;
}

.aname {
	width: 66px;
	margin: 0 auto;
	height: 32px;
	line-height: 32px;
	display: block;
	color: #999;
	text-align: center;
}

.aname a:visited {
	color: #666 !important;
}


/*登录*/

.login_bg {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999999999;
	width: 100%;
	display: block;
	left: 0;
	min-width: 320px;
}

.login {
	width: 80%;
	margin-left: 10%;
	border-radius: 10px;
	height: 320px;
	background: #fff;
	margin-top: -160px;
	top: 50%;
	position: absolute;
}

.login_xx {
	margin: 10px 10px 0 0;
}

.login .tit {
	text-align: center;
	padding-top: 5px;
}

.login_sj {
	width: 90%;
	margin-left: 5%;
	position: relative;
}

.login_sj input {
	border: 1px solid #eeeeee;
	line-height: 32px;
	padding-left: 10px;
	width: 60%;
}

.login_sj button {
	line-height: 32px;
	border: 0;
}

.login_yzm input {
	border: 1px solid #eeeeee;
	line-height: 32px;
	padding-left: 10px;
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
}

.lon_ent a {
	background: #dca708;
	border-radius: 20px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	position: absolute;
	top: 30px;
}

.lon_more {
	margin-top: 60px;
}

.lon_top span {
	line-height: 44px;
	margin-left: 5px;
	font-size: 14px;
	color: #999;
}

.zt_lon {
	width: 80%;
	margin-left: 10%;
}

.zt_lon_02 {
	width: 90%;
	margin-left: 5%;
}

.log_inp_sr {
	border: 1px solid #eeeeee;
	border-radius: 20px !important;
	line-height: 32px !important;
	margin-bottom: 0px !important;
	height: 36px !important;
	padding-right: 15px;
}

.sub_log a {
	background: #dca708;
	color: #fff;
	line-height: 32px;
	display: block;
	border-radius: 20px;
	margin-top: 35px;
}

.sub_log a:hover {
	color: #fff !important;
}

.res_inp {
	border-radius: 20px !important;
	padding-right: 90px !important;
}

.res_inp_big {
	position: relative;
}

.res_inp_input {
	background: none;
	line-height: 32px;
	position: absolute !important;
	top: 3px;
	right: 13px;
	background: #fff;
	padding-left: 8px;
}

.zc-xl {
	font-size: 12px;
	color: #999;
	float: left;
	padding-left: 45px;
	width: 100%;
}

.zc-xl .l-left {
	margin-left: 10px;
}

.zc-xl-top {
	margin-top: 15px;
}

.zc-xl-top input {
	margin-top: 11px;
}


/*图片新闻*/

.new_pic_bg {
	background: #1b1b1b;
}

.pswp__bottom-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-bottom: 58px;
	width: 100%
}

.pswp__bottom-bar,
.pswp__top-gradient {
	-webkit-transition: opacity .25s linear;
	will-change: opacity;
	background: rgba(27, 27, 27, .7);
}

.pswp__desc_con {
	margin: 10px auto 0;
	padding: 0 15px;
	color: #cacaca;
	font-size: 16px;
	line-height: 22px;
	max-height: 136px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

.pswp__counter-new {
	margin-right: .5em
}

.pswp__counter-new i {
	font-style: normal;
	font-size: 12px
}

.pswp__desc-new {
	pointer-events: none
}

.new_pic {
	text-align: center;
}

.new_pic img {
	margin-top: 31%;
}


/*供养*/

.gongy_xh {}

.gongy_xh li {
	margin: 5px 10px;
	height: 26px;
	line-height: 26px;
	float: left;
}

.gongy_xh li img {
	float: left;
	margin-right: 5px;
}

.gongy_xh li span {
	height: 26px;
	line-height: 26px;
	float: left;
}

.gongy_xh_list {
	margin-right: 5px;
}

.gongy_xh_list img {
	width: 18px;
	height: 19px;
	float: left;
	margin-right: 5px;
	margin-top: -6px;
}

.gongy_xh_list b {
	font-weight: normal;
	font-size: 12px;
	line-height: 7px;
	height: 8px;
	float: left;
}

.gongy_hj {}

.g_text {
	line-height: 18px !important;
	padding-left: 10px !important;
}

.g_hj {
	text-align: right;
	margin: 10px 0;
	line-height: 50px;
}


/*评论回复*/

.pinl_list {}

.pinl_list ul {
	width: 66%;
	overflow: hidden;
	height: 40px;
	float: left;
}

.pinl_list li {
	float: left;
	margin-right: 7px;
}

.pinl_list li img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.pinl_list_dz {
	line-height: 40px;
}

.jubao_tit {
	line-height: 32px;
	margin-top: 10px;
	color: #333;
	margin-left: -59px;
	text-align: center;
}


/*赞过的人*/

.zgdr_list {
	margin-top: 10px;
}

.zgdr_list li {
	margin-bottom: 15px;
	float: left;
	width: 100%;
	height: 40px;
	font-size: 14px;
}

.zgdr_list li u {
	float: left;
}

.zgdr_list li u img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 8px;
	float: left;
}

.zgdr_list li span {
	float: left;
	line-height: 40px;
	overflow: hidden;
	height: 40px;
	width: 50%;
}

.zgdr_list li b {
	font-weight: normal;
	line-height: 40px;
	margin-right: 10px;
	float: right;
	color: #999;
}


/*我关注的人*/

.zgdr_list_02 {
	margin-top: 87px;
}

.zgdr_list_02 li {
	margin-bottom: 15px;
	/*float: left;*/
	width: 100%;
	height: 56px;
	line-height: 42px;
	font-size: 14px;
	border-bottom: 1px solid #eceef0;
	list-style-type: none;
}

.zgdr_list_02 li u {
	float: left;
	margin-top: 4px;
	width: 40px;
}

.zgdr_list_02 li u img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 8px;
	float: left;
}

.zgdr_list_02 li span {
	float: left;
	overflow: hidden;
	height: 40px;
	font-style: normal;
	width: 50%;
	line-height: 47px;
	margin-left: 2px;
}

.zgdr_list_02 li b {
	font-weight: normal;
	line-height: 28px;
	float: left;
	margin-top: 4px;
}

.zgdr_list_02 li b em {
	margin-top: 2px;
	font-size: 12px;
	float: left;
	font-style: normal;
}

.zgdr_list_02 li strong {
	float: right;
	width: 53px;
	text-align: center;
	margin-right: 10px;
	/*margin-top: 4px;*/
}

.zgdr_list_02 li strong h3 {
	font-weight: normal;
	font-size: 18px;
	color: #333;
	width: 100%;
	height: 20px;
	margin: 3px 0 0 0;
}

.yh-m {
	margin-top: 60px !important;
}

.zgdr_list_02 li strong h6 {
	font-size: 12px;
	width: 100%;
	float: left;
	line-height: 20px;
	margin: 0;
	font-weight: normal;
}

.zgdr_list_02 li b i {
	line-height: 22px;
}

.att_main {
	width: 100%;
	margin: 0 auto;
	max-width: 750px;
}

.att_tit {
	width: 80% !important;
	margin-left: 10%;
}

.att_tit a {
	text-align: center !important;
	position: relative;
	width: 33.3333% !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 14px;
}

.att_tit a span {
	width: auto;
	min-width: 22px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	background: #e00000;
	color: #fff;
	border-radius: 10px;
	position: absolute;
	padding: 0 5px;
	top: -5px;
	right: -20px;
}

.pl_list {
	position: relative;
}

.pl_list b {
	width: auto;
	min-width: 22px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	background: #e00000;
	color: #fff;
	border-radius: 10px;
	position: absolute;
	padding: 0 5px;
	top: -29px;
	right: 13px;
}

.pl_list02 {
	position: relative;
}

.pl_list02 b {
	width: auto;
	min-width: 22px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	background: #e00000;
	color: #fff;
	border-radius: 10px;
	position: absolute;
	padding: 0 5px;
	top: -58px;
	right: 2px;
}

.att_tit b {
	font-weight: normal;
	position: relative;
}

.att_tit_h3 {
	padding: 10px 0;
	color: #333;
}

.att_list_li label {
	float: left;
	padding-left: 20%;
	text-align: left;
	border-bottom: 1px solid #eeeeee;
	line-height: 32px;
}

.att_list_li input {
	margin-top: 12px;
	margin-right: 20%;
}


/*我的粉丝*/

.fans_big {
	position: absolute;
	background: #fff;
	z-index: 999;
	top: 46px;
	border-top: 0;
	height: 285px;
	width: 100%;
}

@media only screen and (min-width:750px) {
	.fans_big {
		margin-left: -375px;
		left: 50%;
	}
}

.fans_m_t {
	margin-top: 274px;
}

.fans_top {}

.fans_top i {
	margin-right: 6px;
	font-size: 20px;
}

.f_t_li {
	margin-left: -43px;
}

.fans_m_s_t {
	margin-top: 48px
}

.fans_l_b {
	line-height: 18px;
	font-size: 12px;
	color: #999;
}

.fans_l_b span {
	float: left;
}

.fans_l_b b {
	font-weight: normal;
	margin-right: 10px;
}

.fans_l_b a {
	color: #999;
}

.zgdr_list_03 {}

.zgdr_list_03 li {
	float: left;
	width: 100%;
	height: 66px;
	line-height: 52px;
	font-size: 14px;
	border-bottom: 1px solid #eeeeee;
	list-style-type: none;
	padding-top: 6px;
}

.zgdr_list_03 li u {
	float: left;
	margin-top: 4px;
	width: 40px;
}

.zgdr_list_03 li u img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 8px;
	float: left;
}

.zgdr_list_03 li span {
	float: left;
	overflow: hidden;
	height: 40px;
	font-style: normal;
	width: 50%;
}

.zgdr_list_03 li b {
	font-weight: normal;
	line-height: 22px;
	float: left;
	margin-top: 4px;
}

.zgdr_list_03 li b em {
	margin-top: 2px;
	font-size: 12px;
	float: left;
	font-style: normal;
}

.zgdr_list_03 li strong {
	float: right;
	width: 53px;
	text-align: center;
	margin-right: 10px;
}

.zgdr_list_03 li strong h3 {
	height: 19px;
	font-weight: normal;
	font-size: 18px;
	color: #333;
	width: 100%;
	margin-top: 12px;
}

.zgdr_list_03 li strong h6 {
	font-size: 12px;
	width: 100%;
	float: left;
	line-height: 13px;
	margin: 0;
}


/*求法*/

.qswf_list {
	margin-top: 10px;
	/*width: 100%;*/
}

.qswf_list u {
	float: left;
	margin-right: 10px;
}

.qswf_list u img {
	width: 30px !important;
	height: 30px!important;
	;
	border-radius: 50%;
	margin-right: 8px;
	float: left;
}

.qswf_list strong {
	float: left;
	width: 74%;
	font-weight: normal;
	max-height: 46px;
	overflow: hidden;
}

.qiufa {
	position: fixed;
	z-index: 5;
	top: 30px;
	right: 10%;
	background: url(../images/bg/hsbg.png) repeat;
	color: #fff;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	font-size: 14px;
	text-align: center;
	line-height: 15px;
	/* padding-top: 4px; */
	font-size: 14px;
	padding: 6px;
	filter: alpha(opacity=50);
}

.qiufa a {
	color: #fff;
}


/*个人中心推荐*/

.tuij_tit {
	width: 100%;
	overflow: hidden;
	height: 36px;
	font-weight: normal;
}


/*评论编辑*/

.pingl_bot_tj {
	float: right;
	width: 80px;
	/*margin-top: 5px;*/
	margin-right: 3%;
	line-height: 10px !important;
	height: 28px!important;
}

.pingl {
	width: 100%;
	height: 142px;
	background: #fafafa;
	padding-top: 10px;
	position: absolute;
	z-index: 50;
	bottom: 0;
	border: 1px solid #eeeeee;
}

.db_bl {
	width: 94%;
	margin-left: 3%;
	height: 80px;
	padding: 10px;
	font-size: 12px;
	margin-bottom: 8px;
}

.lp_bg {
	background: url(../images/bg/hh_bg.png) repeat;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999996;
	display: none;
}


/*我的消息*/

.zgdr_list_mes {}

.zgdr_list_mes li {
	margin-bottom: 15px;
	float: left;
	width: 100%;
	font-size: 14px;
	border-bottom: 1px solid #eeeeee;
	list-style-type: none;
}

.my_mes_left {
	width: 60%;
}

.zgdr_list_mes li u {
	float: left;
	margin-top: 4px;
	width: 40px;
}

.zgdr_list_mes li u img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 8px;
	float: left;
}

.zgdr_list_mes li span {
	float: left;
	overflow: hidden;
	height: 27px;
	font-style: normal;
	width: 50%;
	line-height: 27px;
	margin-left: 2px;
	color: #4b6d9f;
	width: 100%;
}

.zgdr_list_mes li em {
	float: left;
	font-style: normal;
	line-height: 18px;
	width: 100%;
}

.zgdr_list_mes li i {
	font-style: normal;
	color: #999;
	float: left;
	width: 100%;
	padding: 5px 0 10px 0;
}

.zgdr_list_mes li b {
	font-weight: normal;
	line-height: 28px;
	float: left;
	margin-top: 4px;
}

.zgdr_list_mes li b i {
	line-height: 10px;
	right: -1.5px;
}

.my_mes_right {
	width: 20%;
	color: #999;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	/*超过三行显示省略号...*/
	overflow: hidden;
}


/*视频小窗口*/

.vid_xck {
	width: 130px;
	height: 90px;
	position: fixed;
	bottom: 60px;
	right: 10px;
	z-index: 999999;
}


/*寺院*/

.top_v_1 {
	top: -2.3px !important;
}

.top_v_2 {
	top: -2.9px !important;
}


/*分享链接*/

.share {
	max-width: 750px;
	left: 50% !important;
	margin-left: -375px !important;
}

@media only screen and (max-width:750px) {
	.share {
		width: 100%;
		position: fixed !important;
		background: #fff !important;
		bottom: 0;
		z-index: 9999999;
		left: 0 !important;
		margin-left: 0 !important;
	}
}

.share ul {
	background: #f8f8f8;
	float: left;
	width: 100%;
	padding: 15px 0;
}

.cor_gre {
	color: #00ce0d;
}

.share a {
	height: 80px;
	width: 55px;
	margin: 15px 12px 0 12px;
	display: inline-block;
}

.share u {
	background: #fff;
	width: 55px;
	height: 55px;
	border-radius: 10px;
	text-align: center;
	float: left;
}

.share a i {
	font-size: 44px;
	line-height: 58px;
}

.share a span {
	float: left;
	font-size: 12px;
	line-height: 26px;
	width: 55px;
	text-align: center;
}

.share .qq {
	line-height: 54px;
}

.share .kj {
	line-height: 54px;
}

.share .wb {
	line-height: 64px;
}

.share .sc {
	color: #5e6379;
	font-size: 34px;
	line-height: 60px;
}

.share .fenx {
	color: #5e6379;
	font-size: 43px;
	line-height: 59px;
}

.share .jub {
	color: #5e6379;
	font-size: 29px;
	line-height: 52px;
}

.share .sy {
	color: #5e6379;
	font-size: 29px;
	line-height: 55px;
}

.share_top {
	height: 110px !important;
	border-radius: 0 !important;
	margin: 0 !important;
}

.fenx_pyq {
	background: url(../images/icon/pyq.png) no-repeat 10px 9px;
	width: 55px;
	height: 55px;
	display: block;
	background-size: 36px 36px;
}

.qux {
	height: 42px !important;
	line-height: 42px;
	text-align: center;
	background: #fff;
	margin: 0;
	display: block;
	margin: 0 !important;
}


/*标题*/

.tit_b {
	float: left;
	;
	width: 100%;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 18px;
	background: #f9f8f8;
	border: 1px solid #eeeeee;
}

.qieh_l {
	margin-left: -10px !important;
}


/*.pullUp_d{ height: 40px; font-size: 12px; position: relative;}
 .pullUp_d img{width: 16px; height: 16px; position: absolute;  bottom: 0px;
 margin-left: 3px;}*/


/*关闭*/

.close {
	float: right;
	margin: 15px 20px 0 0;
}

.close i {
	font-size: 24px;
}

.pro_title {
	margin: 15px 0 0 15px;
	font-size: 12px;
	width: 100%;
}

.dh img {
	width: 100%;
	height: auto;
}

.m_cz {
	width: 100%;
	margin-left: -375px;
	left: 50%;
	position: fixed;
}

@media only screen and (max-width:750px) {
	.m_cz {
		margin-left: 0;
		left: 0;
	}
}

.main h1 {
	font-weight: normal;
}

.sea {
	width: 100%;
	height: 40px;
	overflow: hidden;
	border-bottom: 1px solid #dedede;
	position: absolute;
	z-index: 999;
	background: #fff;
}

.sea li {
	width: 20%;
	margin-right: 0 !important;
}

.sea li a {
	text-align: center !important;
	;
	width: 100% !important;
}


/*搜索*/

.sea5 {
	padding: 0 !important;
	position: relative;
}

.sea01 {
	padding: 60px 8px 0 8px;
}

.sea01 li {
	float: left;
	padding: 6px 20px;
	color: #666;
}

.sea01 li a {
	color: #666;
}

.pro-v-g {
	height: 14px;
	line-height: 16px;
}


/*吉祥物menu*/

.baby {
	width: 100%;
	height: 40px;
	overflow: hidden;
	border-bottom: 1px solid #dedede;
	position: absolute;
	z-index: 999;
	background: #fff;
}

.baby li {
	width: 33.3333%;
	margin-right: 0 !important;
}

.baby li a {
	text-align: center !important;
	;
	width: 100% !important;
}


/*v认证*/

.bg_blue {
	background-image: url(../images/icon/v-yell.svg);
	background-size: 46px 46px;
	background-position: 33px 78px;
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: -1px;
	right: -3px;
}

.bg_yell {
	background-image: url(../images/icon/v-yell.svg);
	background-size: 46px 46px;
	background-position: 33px 92px;
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: -1px;
	right: -3px;
}

.bg_red {
	background-image: url(../images/icon/v-yell.svg);
	background-size: 46px 46px;
	background-position: 33px 64px;
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: -1px;
	right: -3px;
}

.v-gr-yell {
	width: 20px;
	height: 20px;
	background-size: 23px 96px;
	background-position: 22px 79px;
	bottom: -1px;
	right: -2px;
}

.v-gr-red {
	width: 20px;
	height: 20px;
	background-size: 23px 96px;
	background-position: 22px 41px;
	bottom: -1px;
	right: -2px;
}

.v-gr-blue {
	width: 20px;
	height: 20px;
	background-size: 23px 96px;
	background-position: 22px 61px;
	bottom: -1px;
	right: -2px;
}
.bg-mr{
	background: #eee;
}
.v-qiufa {}

.v-ship {
	right: -11px;
}

.gongyang li {
	width: 100% !important;
}

.bg-efeff4 {
	background: #efeff4 !important;
}

.wdfl .left {
	line-height: 36px;
}

.sel-date {
	float: left;
	background: #f9f9f9;
	margin-right: 10px;
}

.res-dat {
	float: left;
}

.szd {
	float: left;
	margin-right: 10px;
	line-height: 36px;
}

.right-icon {
	float: right;
	line-height: 36px;
}

.main-box {
	width: 750px;
	min-width: 320px;
	margin-left: -375px;
	left: 50%;
	position: absolute;
}

@media only screen and (max-width:750px) {
	.main-box {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
}
