.pswp {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	touch-action: none;
	z-index: 1500;
	-webkit-text-size-adjust: 100%;
	font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "寰蒋闆呴粦", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	outline: 0;
	-webkit-user-select: none
}

.pswp * {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.pswp img {
	max-width: none
}

.pswp--animate_opacity {
	opacity: .001;
	will-change: opacity;
	-webkit-transition: opacity 333ms cubic-bezier(0.4, 0, .22, 1);
	transition: opacity 333ms cubic-bezier(0.4, 0, .22, 1)
}

.pswp--open {
	display: block
}

.pswp--zoom-allowed .pswp__img {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in
}

.pswp--zoomed-in .pswp__img {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab
}

.pswp--dragging .pswp__img {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing
}

.pswp__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	will-change: opacity
}

.pswp__scroll-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden
}

.pswp__container,
.pswp__zoom-wrap {
	touch-action: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

.pswp__container,
.pswp__img {
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none
}

.pswp__zoom-wrap {
	display: -webkit-box;
	-webkit-box-align: center;
	position: absolute;
	width: 100%;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, .22, 1);
	transition: -webkit-transform 333ms cubic-bezier(0.4, 0, .22, 1);
	transition: transform 333ms cubic-bezier(0.4, 0, .22, 1);
	transition: transform 333ms cubic-bezier(0.4, 0, .22, 1), -webkit-transform 333ms cubic-bezier(0.4, 0, .22, 1)
}

.pswp__bg {
	will-change: opacity;
	-webkit-transition: opacity 333ms cubic-bezier(0.4, 0, .22, 1);
	transition: opacity 333ms cubic-bezier(0.4, 0, .22, 1)
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
	-webkit-transition: none;
	transition: none
}

.pswp__container,
.pswp__zoom-wrap {
	-webkit-backface-visibility: hidden;
	will-change: transform
}

.pswp__item {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden
}

.pswp__img {
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	left: 0
}

.pswp__img--placeholder {
	-webkit-backface-visibility: hidden
}

.pswp__img--placeholder--blank {
	background: #303030
}

.pswp--ie .pswp__img {
	width: 100%!important;
	height: auto!important;
	left: 0;
	top: 0
}

.pswp__error-msg {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -40px;
	width: 80px;
	height: 30px;
	background: url(/site/lib/images/gallery_loading_fail.png) no-repeat center top;
	background-size: 65px;
	padding-top: 60px;
	box-sizing: content-box;
	text-align: center
}

.pswp__error-msg button {
	font-size: 14px;
	line-height: 2em;
	padding: 0 10px;
	color: #cacaca;
	border: 0;
	border-radius: 3px;
	background: 0 0
}

.line1,
.line2,
.line3,
.line4 {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical
}

.line1 {
	-webkit-line-clamp: 1
}

.line2 {
	-webkit-line-clamp: 2
}

.line3 {
	-webkit-line-clamp: 3
}

.line4 {
	-webkit-line-clamp: 4
}

.opacity_transition {
	-webkit-transition: opacity .25s linear;
	will-change: opacity
}

html {
	background: #1b1b1b
}

body {
	background: #1b1b1b;
	padding: 0;
	margin: 0
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.link {
	-webkit-tap-highlight-color: rgba(27, 27, 27, .4);
	-webkit-touch-callout: none
}

#gallery {
	display: none
}

.pswp__text {
	color: #cacaca;
	text-align: left;
	font-size: 13px;
	line-height: 18px
}

.pswp__title {
	font-size: 17px;
	line-height: 1.25em
}

.pswp__desc,
.pswp__title_con {
	margin: 8px auto 5px;
	padding: 0 15px
}

.pswp__desc {
	color: #cacaca;
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

.pswp__desc::-webkit-scrollbar {
	width: 3px
}

.pswp__desc::-webkit-scrollbar-thumb:vertical {
	width: 3px;
	background: rgba(255, 255, 255, .2);
	border-radius: 3px
}

.pswp__title_con {
	color: #FFF;
	padding-right: 60px;
	position: relative
}

.pswp__counter {
	font-size: 12px;
	position: absolute;
	right: 15px;
	top: 0
}

.pswp__counter i {
	font-style: normal;
	font-size: 17px
}

@media screen and (min-width:360px) {
	.pswp__title {
		font-size: 19px
	}
	.pswp__counter {
		font-size: 14px
	}
	.pswp__counter i {
		font-size: 19px
	}
}

.pswp__caption:empty {
	display: none
}

.pswp__preloader {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
	opacity: 0;
	-webkit-transition: opacity .25s linear;
	will-change: opacity;
	direction: ltr;
	pointer-events: none;
	background: url(/site/lib/images/gallery_loading.png) no-repeat center center;
	background-size: contain
}

.pswp__preloader--active {
	opacity: 1
}

.pswp--css_animation .pswp__preloader--active {
	-webkit-animation: clockwise 1s linear infinite
}

.pswp__related-tip {
	font-size: 12px;
	line-height: 1.2em;
	color: #fff;
	width: 1em;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -60px;
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	will-change: opacity;
	direction: ltr;
	pointer-events: none;
	background: url(/site/lib/images/arrow_image_recom.png) rgba(0, 0, 0, .6) no-repeat 33px center;
	background-size: 16px;
	padding: 18px 38px 18px 14px;
	border-radius: 6px 0 0 6px;
	z-index: 1600
}

@-webkit-keyframes clockwise {
	0% {
		-webkit-transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg)
	}
}

@-webkit-keyframes donut-rotate {
	0% {
		-webkit-transform: rotate(0)
	}
	50% {
		-webkit-transform: rotate(-140deg)
	}
	100% {
		-webkit-transform: rotate(0)
	}
}

.pswp__ui {
	-webkit-font-smoothing: auto;
	visibility: visible;
	opacity: 1;
	z-index: 1550
}

.pswp__comment,
.pswp__top-bar {
	display: none
}

.pswp__top-gradient {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	pointer-events: none;
	height: 64px
}

.pswp__bottom-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-bottom: 48px;
	width: 100%
}

.landscape .pswp__bottom-bar {
	padding-bottom: 10px
}

.pswp__bottom-bar,
.pswp__top-gradient {
	-webkit-transition: opacity .25s linear;
	will-change: opacity;
	background: rgba(27, 27, 27, .7)
}

.pswp__ui--none {
	display: none
}

.pswp__ui--hidden .pswp__top-gradient,
.pswp__ui--hidden .pswp__bottom-bar {
	opacity: .001
}

.pswp__element--disabled {
	display: none!important
}

.pswp__relate {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.pswp__relate .pswp__relate-item {
	float: left;
	width: 49.5%;
	margin-right: 1%;
	margin-bottom: 10px
}

.pswp__relate .pswp__relate-item:nth-child(2n) {
	margin-right: 0
}

.pswp__relate .pswp__relate-item .pswp__relate-link {
	border-radius: 0;
	border: 0;
	text-decoration: none;
	display: block;
	-webkit-tap-highlight-color: rgba(27, 27, 27, .4);
	-webkit-touch-callout: none
}

.pswp__relate .pswp__relate-item .pswp__relate-link * {
	pointer-events: none
}

.pswp__relate .pswp__relate-item .pswp__relate-image {
	position: relative;
	width: 100%;
	padding-bottom: 65%;
	overflow: hidden
}

.pswp__relate .pswp__relate-item .pswp__relate-image img {
	display: block;
	min-height: 100%;
	width: 100%;
	position: absolute
}

.pswp__relate .pswp__relate-item .pswp__relate-title {
	color: #cacaca;
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	margin: 5px 5px 0
}

.pswp__relate .pswp__relate-item:nth-child(2n+1) .pswp__relate-title {
	margin-right: 0
}

.pswp__relate .pswp__relate-item:nth-child(2n) .pswp__relate-title {
	margin-left: 0
}

.landscape .pswp__relate .pswp__relate-item {
	width: 33%;
	margin-right: .5%
}

.landscape .pswp__relate .pswp__relate-item:nth-child(2n) {
	margin-right: .5%
}

.landscape .pswp__relate .pswp__relate-item:nth-child(3n) {
	margin-right: 0
}

.landscape .pswp__relate .pswp__relate-item:nth-child(4n) {
	clear: left
}

.pswp__desc_con {
	margin: 10px auto 0;
	padding: 0 15px;
	color: #cacaca;
	font-size: 16px;
	line-height: 22px;
	max-height: 113px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

.pswp__desc_con::-webkit-scrollbar {
	width: 3px
}

.pswp__desc_con::-webkit-scrollbar-thumb:vertical {
	width: 3px;
	background: rgba(255, 255, 255, .2);
	border-radius: 3px
}

.landscape .pswp__desc_con {
	max-height: 90px
}

.pswp__counter-new {
	margin-right: .5em
}

.pswp__counter-new i {
	font-style: normal;
	font-size: 12px
}

.pswp__desc-new {
	pointer-events: none
}

.pswp__error-msg {
	margin-top: -25px;
	margin-left: -40px;
	width: 80px;
	height: 30px;
	background-position: center top;
	background-size: 65px;
	padding-top: 60px;
	box-sizing: content-box;
	text-align: center
}

.pswp__error-msg button {
	font-size: 14px;
	line-height: 2em;
	padding: 0 10px;
	color: #cacaca;
	border: 0;
	border-radius: 3px;
	background: 0 0
}

#article {
	background: #fff
}

#article figure {
	padding: 0 15px 15px;
	margin: 0;
	color: #303030;
	font-size: 18px;
	line-height: 1.5em
}

#article figure:last-child {
	padding-bottom: 30px
}

#article figure figcaption {
	margin-bottom: 15px
}

#article figure img {
	display: block;
	opacity: 0;
	width: 100%
}

#article figure img.loaded {
	opacity: 1
}

#article figure .img-holder {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	background: url(http://s2.pstatp.com/inapp/image_bg_day.png) #efefef no-repeat center center;
	background-size: 118px;
	border-radius: 4px;
	overflow: hidden
}

#article #TouTiaoBar {
	height: 40px
}

#article #TouTiaoBar #logo {
	display: inline-block;
	height: 40px;
	max-width: 100%;
	overflow: hidden
}

#article #TouTiaoBar #logo img {
	height: 28px;
	margin: 6px 15px;
	display: block
}

#article h1 {
	display: block;
	font-size: 21px;
	font-weight: bolder;
	color: #000;
	padding: 15px 15px 30px;
	margin: 0
}

#article header h1 {
	padding: 10px 15px
}

#article .subtitle {
	padding: 0 15px 20px;
	position: relative;
	font-size: 11px;
	line-height: 16px;
	color: #747474
}

#article .subtitle a {
	color: #747474;
	margin-right: 10px;
	text-decoration: none
}

#article .subtitle #toggle_img {
	display: none
}

.night #article {
	background: #252525
}

.night #article figure {
	color: #747474
}

.night #article figure img {
	opacity: .4;
	background: url(http://s2.pstatp.com/inapp/image_bg_night.png) #2b2b2b no-repeat center center;
	background-size: 118px
}

.night #article #TouTiaoBar {
	opacity: .4
}

.night #article h1 {
	color: #747474
}
