
i {
    font-style: normal;
}

ul {
    list-style: none;
    margin-top: 0 !important;
    margin-left: 10px !important;
    margin-bottom: 0;
    padding: 0;
    overflow: auto;
}

ul li {
    float: left;
    width: 25%;
}

button {
    margin: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 20px !important;
}

.img-father {
    position: relative;
    padding: 5px;
    display: table;
    width: 100%;
}

.img-father .img-container {
    display: table-cell;
    vertical-align: middle;
    height: 32px;
    width:100%;
    border-radius: 1px;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    background-color: #FFFFFF;
}

.img-father .img-container p {
    color: #000000;
    margin-bottom: -2px;
    text-align: center;
}

.img-father .img-remove {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    color: white;
    background: #d6d6d6;
    border-radius: 40%;
    font-size: 14px;
    border: 1px solid white;
    height: 22px;
    width: 22px;
    line-height: 17px;
    text-align: center;
}

.shake {
    /*-webkit-transform-origin: center center;*/
    /*-webkit-animation-name: shake-rotate;*/
    /*-webkit-animation-duration: 0.5s;*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-iteration-count: infinite;*/
}

.shakecontainer .img-content {
    display: none;
}

.shakecontainer .img-remove {
    display: block;
}

ul li[draggable=true] {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

ul li[draggable=true] > div {
    -webkit-animation-name: none;
}

ul li[draggable=true] .img-remove {
    display: none;
}

.sort-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}

.sort-ghost {
    opacity: 0;
}

.sort-chosen {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: transform .3s;
    -webkit-transition: transform .3s;
}

.sort-chosen:last-child {
    transition: none;
    -webkit-transition: none;
}

@-webkit-keyframes shake-rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    12.5% {
        -webkit-transform: rotate(1.25deg);
    }
    25% {
        -webkit-transform: rotate(2.5deg);
    }
    37.5% {
        -webkit-transform: rotate(1.25deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    62.5% {
        -webkit-transform: rotate(-1.25deg);
    }
    75% {
        -webkit-transform: rotate(-2.5deg);
    }
    87.5% {
        -webkit-transform: rotate(-1.25deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    ul {
        margin-left: 8%;
    }
}
